*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --main-color : #f50
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: black;
    color: white;
}
nav .logo img{
    width: 40px ;
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;
}



.products{
    margin-top: 58px;
    padding: 7px;
    background-color: rgb(163, 156, 156);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products .product{
    flex:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(222, 220, 220);
    position: relative;
}
.product h3{
    text-decoration: underline;
    cursor: pointer;
    text-transform: capitalize;
}

.product button{
    cursor: pointer;
    padding: 6px;
    border: 0;
    background-color: #0a7adcdc;
    background-color: var(--main-color);
    color: white;
    margin-top: 5px;
    width: 83px;
}

.product .control{
    display: flex;
    flex-direction: column;
    align-items:flex-end;

}
.control i {
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 22px;
    color: rgb(9, 9, 9);

}

img{
    width: 50px;
    height: 50px;
    padding: 2px;
    background-color: black;
}

.product .info{
    padding: 5px;
    text-align: center;
}


.span-count{
    position: absolute;
    width: 19px;
    border-radius: 50%;
    display: inline-block;
    height: 19px;
    text-align: center;
    line-height: 18px;
    background-color: red;
    top: -3px;
    right: -3px;
    display: none;
}
.fav-count{
    line-height: 18px;
    position: absolute;
    width: 19px;
    border-radius: 50%;
    display: inline-block;
    height: 19px;
    text-align: center;
    background-color: red;
    top: -3px;
    right: -3px;
    display: none;
}

ul.nav-in-app{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eee;
    list-style: none;
}
ul.nav-in-app::after{
    content: "";
    position: absolute;
    bottom: 45px;
    background-color: purple;
    height: 2px;
    width: 50px;
}
a{
    text-decoration: none;
}
ul.nav-in-app li{
    height: 40px;
    cursor: pointer;
    font-size: 18px;
}
.nav-in-app li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-in-app li a , .nav-in-app li i{
    color: black;
}

.nav-in-app li:hover .fa , .nav-in-app li:hover a {
    /* background-color: black; */
    color: rgb(202, 9, 209);
}
.nav-in-app li.active a ,.nav-in-app li.active i.fa-home {
    color: rgb(202, 9, 209);
}

.search{
    width: 167px;
    border: 0;
    margin-left: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    outline: 0;
    font-size: 15px;
}

.created-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}
.side-search{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 200px;
    left: -200px;
    background-color: white;
    z-index: 6;
    transition: 0.3s ease-out;
}
.side-search.show{
    left: 0px;
}
.fa-arrow-left{
    margin: 10px;
    margin-left: 5px;
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
}

.set-box{
    padding: 10px;
    background-color: #eee;
    margin: 5px;
}
.set-box h3{
    text-align: center;
    padding: 4px;
    background-color: white;
}

.set-box ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 7px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}
.set-box ul li{
    cursor: pointer;
    padding: 4px;
    /* width: 33%; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    
}
.set-box ul li:nth-child(1){background-color: #0a7adcdc;}
.set-box ul li:nth-child(2){background-color: green;}
.set-box ul li:nth-child(3){background-color: purple;}
.set-box ul li:nth-child(4){background-color: black;}


.profile{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: -100%;
    background-color: black;
    z-index: 7;
    transition: 0.4s ease-out;
}

.profile.show{
    top: 0;
}

.profile .profile-info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    /* text-align: center; */
    transform: translate(-50%,-50%);
    padding: 10px;
    background-color: rgb(150, 148, 148);
    width: 90%;
}
.profile span{
    display: inline-block;
}
.profile .profile-info-container .profile-name,
.profile .profile-info-container .profile-email,
.profile .profile-info-container .profile-pass {
    background-color: rgb(124, 120, 120);
    padding: 15px 5px;
    color: white;
}
.profile-pass input{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    background-color: #0a7adcdc;
    border: 0;
    color: white;
    outline: 1px solid salmon;
    pointer-events: none;
    margin-top: 8px;
}